/* app css stylesheet */

body {
  padding-top: 20px;
  min-width:1024px;
}

#header_container {
    width:100%;
    /*border: 2px solid green;*/

    position:relative;
}

#title {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100; letter-spacing: 1px;
    font-size:80px;
    margin-left:50px;
}

#logOutBtn {
    position:absolute;
    right:100px;
    bottom:23px;

}

.warningColor {
    background-color:#fbb4ae;
}

#main-container {
    width:90%;
    height:500px;
    margin-left:50px; margin-right:50px;
    margin-bottom:20px;
    display:block;
    overflow-y: hidden;
    overflow-x: hidden;
    border:2px dotted grey;
    z-index:5;
}

#data-table-container {

/*

    overflow-y:hidden;*/

}

#table_right_container {
    overflow-x: scroll;
    min-width:805px;


}

#table_left {
    width:130px;
    float: left;
    height: 500px;
    border-right:1px solid #cccccc;
    font-weight:600;
}
#table_right {
    min-width:800px;
    height: 500px;
    float: left;
    z-index:4;
}

#table_right td, th {
    width:250px;
    white-space:nowrap;
    border-radius:10px;
    text-align: right;

}

td, th {
    vertical-align: middle;
}

.leftGroup {
    border-left: 1px solid black;
    border-top:1px solid black;
    border-right-width:0;

}

.midGroup {
    border-top:1px solid black;
    border-right-width:0px;
    border-left-width:0px;
}

.rightGroup {
    border-top:1px solid black;
    border-right:1px solid black;
    border-left-width: 0;
}

#user_select {
    margin-left:50px;
    width:90%;
    margin-bottom:0;
    height:40px;
}

#user_select span {
    display:block;
    position:relative;
    margin-right:100px;
    float:left;
}

#user_select select {
    display:block;
    position:relative;
    width:200px;
    float:left;
    clear:both;

}

#chart-container {

    display:block;
    clear:both;
    position:relative;
    width:90%;
    min-width: 310px; height: 400px;
    margin-left:50px; margin-right:50px; margin-bottom:50px;
    border:2px dotted grey;

}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

.map {
  height: 400px;
  width: 600px;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.frame::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}