/* app css stylesheet */

body {
  padding-top: 20px;
  min-width:1024px;
}

#header_container {
    width:100%;
    /*border: 2px solid green;*/

    position:relative;
}

#title {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100; letter-spacing: 1px;
    font-size:80px;
    margin-left:50px;
}

#logOutBtn {
    position:absolute;
    right:100px;
    bottom:23px;

}

.warningColor {
    background-color:#fbb4ae;
}

#main-container {
    width:90%;
    height:500px;
    margin-left:50px; margin-right:50px;
    margin-bottom:20px;
    display:block;
    overflow-y: hidden;
    overflow-x: hidden;
    border:2px dotted grey;
    z-index:5;
}