/*CSS for individual game data page*/

.summaryBox {
    width: 600px;
    height:180px;
    padding: 10px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    margin: 0px; 
}

.leftBox {
    position: relative;
    float: left;    
    margin-left: 50px;

}

.rightBox {
    position: relative;
    float: left;
    margin-left: 50px;
    /*left: 700px;*/
}

.outputstyle {
	font-size: 20px;
	font-style: bold;
	color:#505050 ;
}

.titlestyle {
	color:#C0C0C0 
}

.item1 {
    position: absolute;
    left: 20px;
    top:20px;
}

.item2 {
    position: absolute;
    left: 250px;
    top:20px;
}

.item3 {
    position: absolute;
    left: 20px;
    top:90px;
}

.item4 {
    position: absolute;
    left: 250px;
    top:90px;
}

.chart {
    position: relative;
	float: left;
	width: 600px;
    height:450px;
    padding: 10px;
    margin: 50px 0px 10px 50px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);

}
.chartLeft {
    clear: left;
}

.chartRight {
    clear: none;
}

.chart2 {
	 position: relative;
	 float: left;
	 top:50px;
	 width: 700px;
	 left:100px;
    height:500px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    clear: left;

}

.chart3 {
	 position: relative;
	 float: left;
	 top: 50px;
	 width: 700px;
	 left:100px;
    height:500px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
    clear: none;

}



