<br>
<br>

<div class='class2 left1' id='div1' >
	<div class= 'item1'>
		<div class ='titlestyle'>
		Country
		</div>
		<div class = 'outputstyle'>
		US
		</div>
	</div>

	<div class= 'item2'>
		<div class ='titlestyle'>
		Device
		</div>
		<div class = 'outputstyle' >
		iPhone
		</div>
	</div>
</div>



<br>


<div class='chart5'>
	<div id="container5" style="min-width: 620px; height: 400px; margin: 0 auto"></div>
</div>


<div class='chart6'>
	<div id="container6" style="min-width: 620px; height: 400px; margin: 0 auto"></div>
</div>
