
<div id="game_select" ng-controller="TypeaheadCtrl">
<span>Type Game:</span>
    <input style="width:500px" type="text" ng-model="selected" typeahead="game for game in games | filter:$viewValue | limitTo:8" class="form-control"  />
    <button type="submit" ng-click="append(selected)" class="btn btn-default">Submit</button>
</div>
<h3 style='margin-left:50px; clear:both; position:relative;'>Chosen Games</h3>
<div id="main-container">

    <div id="data-table-container">
        <table id="table-left" class="table table-striped">
	    <tr ng-repeat="cg in chosen_games">
		<td><a ng-href="index.html#/game/{{cg}}">{{cg}}</a></td>
		<td ng-click="remove(cg)">Remove</td>
	    </tr>
	</table> 
    </div>

</div>

