<br>
<br>

<div class='class1 left1' id='div1' >

	<div class= 'item1'>
		<div class ='titlestyle'>
		Game name
		</div>
		<div class = 'outputstyle'>
		Clash of Clans
		</div>
	</div>

	<div class= 'item2'>
		<div class ='titlestyle'>
		Publisher
		</div>
		<div class = 'outputstyle' >
		SuperCell
		</div>
	</div>

	<div class= 'item3'>
		<div class ='titlestyle'>
		Country
		</div>
		<div class = 'outputstyle'>
		US
		</div>
	</div>

	<div class= 'item4'>
		<div class ='titlestyle'>
		Device
		</div>
		<div class = 'outputstyle'>
		iPhone
		</div>
	</div>

</div>

<div class='class1 left2' id='div2'>

	<div class= 'item1'>
		<div class ='titlestyle'>
		Total installs
		</div>
		<div class = 'outputstyle'>
		XXXX
		</div>
	</div><span></span>

	<div class= 'item2'>
		<div class ='titlestyle'>
		Avg installs per month
		</div>
		<div class = 'outputstyle'>
		{{getAvgInstalls}}	
		</div>
	</div>

	<div class= 'item3'>
		<div class ='titlestyle'>
		Total revenue
		</div>
		<div class = 'outputstyle'>
		XXXX
		</div>
	</div>

	<div class= 'item4'>
		<div class ='titlestyle'>
		Average revenue per month
		</div>
		<div class = 'outputstyle'>
		$XXXX
		</div>
	</div>

</div>

<br>


<div class='chart'>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<div class='chart1'>
	<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<div class='chart2'>
	<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

<div class='chart3'>
	<div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>